body {
  margin: auto;
  font-family: sans-serif;
}
.titlebar {
  font-size: 16px;
  text-align: center;
  background: linear-gradient(#e0e0e0, #808080);
}
h1 {
  transform: translate(12.5%, -60%);
  position: relative;
}
.selector {
  background: linear-gradient(#f2f2f2, #bfbfbf);
  width: 200px;
  height: 200px;
  #border-style: solid;
  border-width: 1px;
  margin: 10px;
  border-radius: 1em;
  box-shadow: #99ccff;
  position: relative;
  float: left;
  #left: 33%;
  box-shadow: 0 0.4em 0.8em #000;
}
.selector p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
}
.choices {
  border-radius: 1em;
  box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 6em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

