.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
.body {
  margin: auto;
}
.selector {
  background-color:  #cce6ff;
  width: 200px;
  Height: 40px;
  border-style: solid;
  border-width: 1px;
  margin: 3px;
  text-align: center;
  border-radius: 10px;
  box-shadow: #99ccff;
}
